<div class="left_menu">
  <ul class="nav nav-sidebar">
    <li :class="{active: admin_menu_name=='user'}"><a href="/admin/user/lookup?page=1">회원</a></li>
    <li :class="{active: admin_menu_name=='schedule'}"><a href="/admin/schedule">스케쥴</a></li>
    <li :class="{active: admin_menu_name=='room'}"><a href="/admin/room/lookup?page=1">교실</a></li>
    <li :class="{active: admin_menu_name=='reservation'}"><a href="/admin/reservation/lookup?page=1">예약</a></li>
  </ul>
</div>