<div class="col-sm-3 col-md-2 sidebar" style="border-right: 1px solid black;">
  <ul class="nav nav-sidebar">
    <li><a href="#">회원</a></li>
    <li><a href="#">스케쥴</a></li>
    <li><a href="#">교실</a></li>
    <li><a href="#">교실예약</a></li>
  </ul>
</div>