<!DOCTYPE html>
<html lang="ko" class="<%= pagename %>">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="/javascripts/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <%# <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>

<body>

  <div id="app">
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Jun-A</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li :class="{active: header_menu_name=='main'}"><a href="/">메인</a></li>
              <li :class="{active: header_menu_name=='study_group'}"><a href="/study_group/lookup?page=1">스터디</a></li>
            </ul>
            <ul v-if="is_user==false" class="nav navbar-nav navbar-right">
              <li :class="{active: header_menu_name=='login'}"><a href="/login">로그인</a></li>
              <li :class="{active: header_menu_name=='join'}"><a href="/join">가입하기</a></li>
            </ul>
            <ul v-if="is_user==true" class="nav navbar-nav navbar-right">
              <li v-if="is_admin==true" :class="{active: header_menu_name=='admin'}"><a href="/admin/reservation/lookup">관리자</a></li>
              <li :class="{active: header_menu_name=='mypage'}"><a href="/mypage">마이페이지</a></li>
              <li><a href="/auth/logout">로그아웃</a></li>
              
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>