<div class="left_menu">
  <ul class="nav nav-sidebar">
    <li :class="{active: mypage_menu_name=='dashboard'}"><a href="/mypage/dashboard">대시보드</a></li>
    <li :class="{active: mypage_menu_name=='account'}"><a href="/mypage/account">설정</a></li>
  </ul>
</div>