<div class="mypage_menu">
  <ul class="nav nav-sidebar">
    <li :class="{active: mypage_menu_name=='dashboard'}"><a href="/mypage/dashboard">대시보드</a></li>
    <li :class="{active: mypage_menu_name=='myaccount'}"><a href="/mypage/myaccount">설정</a></li>
  </ul>
</div>