<div class="lookup_body">
  <div v-if="is_lookup" class="lookup_select">
    <div class="pack_div clearfix">
      <div class="select_div">
        <div class="div_l">
          <label>날짜</label>
        </div>
        <div class="div_r">
          <custom-datepicker 
            :inline="false" 
            :selected_date="query.date" 
            :default_date="new Date()"
            :building_id="params.building_id" 
            :on-selected="onSelected" 
            :clear_button="true"
            maximum-view="day">
          </custom-datepicker>
        </div>
      </div>

      <div class="select_div">
        <div class="div_l">
          <label>예약상태</label>
        </div>
        <div class="div_r">
          <select class="form-control" v-model="query.rsv_status" @change="onChange()">
            <option v-bind:value="0" :selected="query.rsv_status==0">전체</option>
            <option v-for="(status, i) in rsv_status_results" v-bind:value="status.rsv_status"
              :selected="query.rsv_status == status.rsv_status" :key="i">
              {{ status.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="select_div">
        <div class="div_l">
          <label>강의실</label>
        </div>
        <div class="div_r">
          <select class="form-control" v-model="query.room_id" @change="onChange()">
            <option v-bind:value="0" :selected="query.room_id===0">전체</option>
            <option v-for="(room, j) in room_results" v-bind:value="room.room_id" :key="j">
              {{ room.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="select_div">
        <div class="div_l">
          <label>학과</label>
        </div>
        <div class="div_r">
          <select class="form-control" v-model="query.department_id" @change="onChange()">
            <option v-bind:value="0" :selected="query.department_id===0">전체</option>
            <option v-for="(department, i) in department_results" v-bind:value="department.department_id"
              :selected="query.department_id == department.department_id" :key="i">
              {{ department.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="select_div">
        <div class="div_l">
          <label>스터디</label>
        </div>
        <div class="div_r">
          <select class="form-control" v-model="query.study_group_id" @change="onChange()" :disabled="query.department_id===0">
            <option v-bind:value="0" :selected="query.study_group_id===0">전체</option>
            <option v-for="(study_group, j) in study_group_results" v-bind:value="study_group.study_group_id" :key="j">
              {{ study_group.name }}
            </option>
          </select>
        </div>
      </div>

    </div>
  </div>

  <table class="table table-hover">
    <thead>
      <th>교실</th>
      <th v-if="is_lookup">카테고리</th>
      <th>학과(스터디)</th>
      <th>상태</th>
      <th>제목</th>
      <th>날짜</th>
      <th>시간</th>
      <th v-if="!is_lookup">업데이트일</th>
      <th>{{ is_adminpage ? '관리' : '자세히보기'}}</th>
    </thead>
    <tbody>
      <tr v-for="(room_rsv, i) in results" :key="i">
        <td>{{room_rsv.rooms_name}}</td>
        <td v-if="is_lookup">{{room_rsv.room_rsv_category_name}}</td>
        <td>{{makeDisplayName(room_rsv)}}</td>
        <td><label :class="classRsvStatus(room_rsv.rsv_status)">{{room_rsv.rsv_status_name}}</label></td>
        <td>{{room_rsv.title}}</td>
        <td>{{room_rsv.rsv_date}}</td>
        <td>{{room_rsv.rsv_start_time}} ~ {{room_rsv.rsv_end_time}}</td>
        <td v-if="!is_lookup">{{room_rsv.date_last_updated}}</th>
        <td>
          <button 
            type="button" 
            class="btn btn-default"
            @click="location.href=(is_adminpage ? '/admin' : '') + '/reservation/single/' + room_rsv.room_rsv_id">조회</button>
          <button 
            type="button" 
            class="btn btn-info"
            v-if="is_adminpage"
            @click="chageRsvStatus($event, room_rsv, global.REQ_RSV_STATUS)">요청</button> 
          <button 
            type="button" 
            class="btn btn-success"
            v-if="is_adminpage"
            @click="chageRsvStatus($event, room_rsv, global.SUBMIT_RSV_STATUS)">승인</button> 
          <button 
            type="button" 
            class="btn btn-danger"
            v-if="is_adminpage"
            @click="chageRsvStatus($event, room_rsv, global.CANCEL_RSV_STATUS)">취소</button> 
        </td>
      </tr>
    </tbody>
  </table>
  <div v-if="is_lookup" class="lookup_button">
    <button v-if="is_adminpage" type="button" class="btn btn-primary"  @click="gotoWrite">생성</button>
    <button v-if="is_user && !is_adminpage" type="button" class="btn btn-primary" v-if="query.is_mine==1" @click="clickIsMine(0)">내 예약</button>
    <button v-if="is_user && !is_adminpage" type="button" class="btn btn-default" v-else @click="clickIsMine(1)">내 예약</button>
  </div>
  <nav>
    <ul class="pagination">
      <li v-for="page in pagenation" :key="page.value" :class="{active: page.isSelf}">
        <a @click="chagePage(page.value)" aria-label="Previous">
          <span aria-hidden="true" v-html="page.name"></span>
        </a>
      </li>
    </ul>
  </nav>
  <div v-if="is_lookup" class="lookup_search"> 
    <select class="form-control">
      <option>제목</option>
      <option>이름</option>
      <option>이메일</option>
    </select>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="검색어를 입력해주세요">
      <div class="input-group-addon"><span class="glyphicon glyphicon-search"></div>
    </div>
  </div>
</div>
<% include ../component/datepicker %>