<% include ./sub/header %>
      <% include ./sub/admin_menu %>
      <h1>관리자_교실예약목록</h1>
      <div>
        <div>
          <button type="button" class="btn btn-default">예약상태</button>
          <select class="form-control">
            <option>승인</option>
            <option>거절</option>
            <option>신청</option>
          </select>
          <button type="button" class="btn btn-default">학과</button>
          <select class="form-control">
            <option>컴퓨터과학과</option>
            <option>사회복지학과</option>
          </select>
        </div>
        <div>
          <table class="table table-striped">
            <thead>
              <tr>
                <td>교실</td>
                <td>카테고리</td>
                <td>상태</td>
                <td>시작시간</td>
                <td>종료시간</td>
                <td>학과</td>
                <td>교실예약이름</td>
                <td>사용인원</td>
                <td>관리</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>101호</td>
                <td>스터디</td>
                <td><button type="button" class="btn btn-default">신청</button></td>
                <td><input type="date"></td>
                <td><input type="date"></td>
                <td>컴퓨터과학과</td>
                <td>1학년스터디방입니다.</td>
                <td>10명</td>
                <td>
                  <button type="button" class="btn btn-default">상세</button>
                  <button type="button" class="btn btn-primary">승인</button>
                  <button type="button" class="btn btn-danger">거절</button>
                </td>
              </tr>
              <tr>
                <td>102호</td>
                <td>스터디</td>
                <td><button type="button" class="btn btn-primary">승인</button></td>
                <td><input type="date"></td>
                <td><input type="date"></td>
                <td>컴퓨터과학과</td>
                <td>2학년스터디방입니다.</td>
                <td>10명</td>
                <td>
                  <button type="button" class="btn btn-default">상세</button>
                  <button type="button" class="btn btn-primary">승인</button>
                  <button type="button" class="btn btn-danger">거절</button>
                </td>
              </tr>
              <tr>
                <td>103호</td>
                <td>스터디</td>
                <td><button type="button" class="btn btn-danger">거절</button></td>
                <td><input type="date"></td>
                <td><input type="date"></td>
                <td>컴퓨터과학과</td>
                <td>3학년스터디방입니다.</td>
                <td>10명</td>
                <td>
                  <button type="button" class="btn btn-default">상세</button>
                  <button type="button" class="btn btn-primary">승인</button>
                  <button type="button" class="btn btn-danger">거절</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <button type="button" class="btn btn-primary">추가하기</button>
        <div>
          <nav>
            <ul class="pagination">
              <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
              <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
              <li class="disabled"><a href="#">2 <span class="sr-only">(current)</span></a></li>
              <li class="disabled"><a href="#">3 <span class="sr-only">(current)</span></a></li>
              <li class="disabled"><a href="#">4 <span class="sr-only">(current)</span></a></li>
              <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
            </ul>
          </nav>
        </div>

      </div>
    </main>

    <footer>
      <% include ./sub/footer %>
    </footer>
  </div>

  <script>
    var global = makeGlobal();
    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          page_name: 'admin',
          admin_menu_name: 'reservation',
          is_user: <%- is_user %>,
          is_admin: <%- is_admin %>,
        }
      },
      methods: {

      }
    })
  </script>

</body>

</html>