<% include ./sub/header %>
      <% include ./sub/admin_menu %>
      <h1>관리자_회원목록</h1>
      <div>
        <div>
          <button type="button" class="btn btn-default">회원/관리자</button>
          <select class="form-control">
            <option>회원</option>
            <option>관리자</option>
          </select>
        </div>
        <div>
          <table class="table table-striped">
            <thead>
              <tr>
                <td>구분</td>
                <td>이름</td>
                <td>학번</td>
                <td>전화번호</td>
                <td>상세보기</td>
                <td>권한부여</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>학생</td>
                <td>조아라</td>
                <td>201900-000000</td>
                <td>010-1234-1234</td>
                <td><button type="button" class="btn btn-default">상세보기</button></td>
                <td><button type="button" class="btn btn-primary">관리자<br>권한부여</button></td>
              </tr>
              <tr>
                <td>학생</td>
                <td>조아라</td>
                <td>201900-000000</td>
                <td>010-1234-1234</td>
                <td><button type="button" class="btn btn-default">상세보기</button></td>
                <td><button type="button" class="btn btn-primary">관리자<br>권한부여</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <nav>
            <ul class="pagination">
              <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
              <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
              <li class="disabled"><a href="#">2 <span class="sr-only">(current)</span></a></li>
              <li class="disabled"><a href="#">3 <span class="sr-only">(current)</span></a></li>
              <li class="disabled"><a href="#">4 <span class="sr-only">(current)</span></a></li>
              <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </main>

    <footer>
      <% include ./sub/footer %>
    </footer>
  </div>

  <script>
    var global = makeGlobal();
    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          page_name: 'admin',
          admin_menu_name:'user',
          is_user: <%- is_user %> ,
          is_admin: <%- is_admin %> ,
        }
      },
      methods: {

      }
    })
  </script>

</body>

</html>