<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="/javascripts/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>

<body>

  <div id="app">
    <header>
      <% include ./sub/header %>
    </header>

    <main>
      <% include ./sub/admin_menu %>
      <h1>관리자_회원상세페이지</h1>
      <div>
        <div>
          <ul>
            <li style="width:30%">학생/교직원</li>
            <li>학생</li>
          </ul>
          <ul>
            <li style="width:30%">이름</li>
            <li>조아라</li>
          </ul>
          <ul>
            <li style="width:30%">학번</li>
            <li>123456-123456</li>
          </ul>
          <ul>
            <li style="width:30%">이메일</li>
            <li>123@naver.com</li>
          </ul>
          <ul>
            <li style="width:30%">전화번호</li>
            <li>010-1234-1234</li>
          </ul>
        </div>
        <button type="button" class="btn btn-primary">수정하기</button>
      </div>
    </main>

    <footer>
      <% include ./sub/footer %>
    </footer>
  </div>

  <script>
    var global = makeGlobal();
    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          page_name: 'admin',
          admin_menu_name:'user',
          is_user: <%- is_user %>,
          is_admin: <%- is_admin %>,
        }
      },
      methods: {

      }
    })
  </script>

</body>

</html>