<% include ./sub/header %>
      <div class="jumbotron">
        <h1><%=error_name %></h1>
        <h3><%=message %></h3>
      </div>
    </main>
    
    <footer>
      <% include ./sub/footer %>
    </footer>
  </div>

  <script>
    var global = makeGlobal();
    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          page_name: 'error',
          is_user: <%- is_user %>,
          is_admin: <%- is_admin %>,
        }
      }
    })
  </script>

</body>

</html>