<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Classroom</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li :class="{active: page_name=='main'}"><a href="/">Home</a></li>
        <li :class="{active: page_name=='group'}"><a href="/group">Group</a></li>
      </ul>
      <ul v-if="is_user==false" class="nav navbar-nav navbar-right">
        <li :class="{active: page_name=='login'}"><a href="/login">로그인</a></li>
        <li :class="{active: page_name=='join'}"><a href="/join">가입하기</a></li>
      </ul>
      <ul v-if="is_user==true" class="nav navbar-nav navbar-right">
        <li v-if="is_admin==true" :class="{active: page_name=='admin'}"><a href="/admin">관리자</a></li>
        <li :class="{active: page_name=='mypage'}"><a href="/mypage">마이페이지</a></li>
        <li><a href="/auth/logout">로그아웃</a></li>
        
      </ul>
    </div>
  </div>
</nav>