<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
  <div id="app">
    <h1 @click="handleClickItem">{{ message }} {{ name }} <input v-bind:value="name" v-model="name" type="text"></h1>
    <h2> Just testing (Vue.js and Ajax) DB is not in use. </h2>
    <h2> You can create and delete users. </h2>

    <br />
    <br />
    <input v-model="formData.name" type="txet">
    <button @click="insertUser">유저 추가</button>
    <ul>
      <li v-for="user in users">
        {{user.user_id}} {{user.name}} 
        <button @click="deleteUser(user.user_id)">삭제</button>
      </li>
    </ul>
  </div>

  <script>

    function resetArray(array) {
      //array.length = 0;
      array.splice(0, array.length);
    }

    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          message: 'Hello',
          name: 'World!',
          users: [],
          formData: {},
        }
      },
      created: function () {
        this.getUser();
      },
      methods: {
        handleClickItem: function (e) {
          this.message = 'Click';
        },
        getUser: function () {
          var users = this.users;
          $.ajax({
            url: "/api/user",
            type: "GET",
            cache: false,
            contentType: "application/json; charset=UTF-8",
            data: null,
            success: function (data) {
              resetArray(users);
              data.results.forEach(function (e) {
                users.push(e)
              });
            },
            error: function (e) {
              alert("e : ", e);
            }
          });
        },
        insertUser: function () {
          var getUser = this.getUser;
          var formData = this.formData;
          $.ajax({
            url: "/api/user",
            type: "POST",
            cache: false,
            contentType: "application/json; charset=UTF-8",
            data: JSON.stringify(formData),
            success: function (data) {
              getUser();
              alert(data.message);
            },
            error: function (e) {
              alert("e : ", e);
            }
          });
        },
        deleteUser: function (user_id) {
          var getUser = this.getUser;
          $.ajax({
            url: "/api/user/"+user_id,
            type: "DELETE",
            cache: false,
            contentType: "application/json; charset=UTF-8",
            data: null,
            success: function (data) {
              getUser();
              alert(data.message);
            },
            error: function (e) {
              alert("e : ", e);
            }
          });
        },
      }
    })
  </script>

</body>

</html>