<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="/javascripts/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>

<body>

  <div id="app">
    <header>
      <% include ./header %>
    </header>

    <main>
      <form v-on:submit="join">
        <label>학생</label>
        <input type="checkbox" v-model="joinForm.is_student" true-value="1" false-value="0">
        <br/>
        <label>캠퍼스</label>
        <select class="form-control" v-model="joinForm.campus_id" @change="replaceBuildings()">
          <option v-for="(campus, i) in campus_results" v-bind:value="campus.campus_id" :key="i">
            {{ campus.name }}
          </option>
        </select>
        <label>학습관</label>
        <select class="form-control" v-model="joinForm.building_id">
          <option v-for="(building, j) in building_results" v-bind:value="building.building_id" :key="j">
            {{ building.name }}
          </option>
        </select>
        <div class="form-inline">
          <label>이메일 주소</label>
          <input v-model="joinForm.email" type="email" class="form-control" placeholder="이메일을 입력하세요">
          <button type="submit" class="btn btn-default">확인하기</button>
        </div>
        <div class="form-inline">
          <label>암호</label>
          <input v-model="joinForm.password" type="password" class="form-control" placeholder="암호">
        </div>
        <div class="form-inline">
          <label>암호 확인</label>
          <input type="password" class="form-control" placeholder="암호 확인">
        </div>
        <div class="form-inline">
          <label>이름</label>
          <input v-model="joinForm.name" type="text" class="form-control" placeholder="이름">
        </div>
        <div class="form-inline">
          <label>전화번호</label>
          <input v-model="joinForm.phone" type="text" class="form-control" placeholder="전화번호">
        </div>
        <div class="form-inline">
          <label>학번</label>
          <input v-model="joinForm.student_number" type="text" class="form-control" placeholder="학번">
        </div>
        <button type="submit" class="btn btn-primary">가입</button>
      </form>
    </main>
    
    <footer>
      <% include ./footer %>
    </footer>
  </div>

  <script>
    var global = makeGlobal();
    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          page_name: 'join',
          is_user: <%- is_user %>,
          is_admin: <%- is_admin %>,
          campus_results : <%-JSON.stringify(campus_results) %>,
          buildings : <%-JSON.stringify(buildings) %>,
          building_results: [],
          joinForm: {
            is_student: 1,
            campus_id: null,
            building_id: null,
            campus_name: null,
            email: null,
            password: null,
            name: null,
            phone: null,
            student_number: null,
          }
        }
      },
      methods: {
        replaceBuildings: function (event) {
          this.building_results = this.buildings[this.joinForm.campus_id];
          this.joinForm.building_id = null;
        },
        join: function (e) {
          e.preventDefault();
          global.ajax({
              url: '/auth/join',
              type: 'POST',
              data: app.joinForm
            },
            function (data, status) {
              alert(data.message);
              location.href='/'
            },
            function (message, status, data) {
              alert(message);
            });
        }
      }
    })
  </script>

</body>

</html>