<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="/javascripts/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>

<body>

  <div id="app">
    <header>
      <% include ./sub/header %>
    </header>

    <main>
      <form v-on:submit="login">
        <div class="form-inline">
          <label>이메일 주소</label>
          <input v-model="loginForm.email" type="email" class="form-control" placeholder="이메일을 입력하세요">
        </div>
        <div class="form-inline">
          <label>암호</label>
          <input v-model="loginForm.password" type="password" class="form-control"placeholder="암호">
        </div>
        <button type="submit" class="btn btn-primary">로그인</button>
      </form>
    </main>
    
    <footer>
      <% include ./sub/footer %>
    </footer>
  </div>

  <script>
    var global = makeGlobal();
    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          page_name: 'login',
          is_user: <%- is_user %>,
          is_admin: <%- is_admin %>,
          loginForm: {
            email:null,
            password:null,
          },
        }
      },
      methods: {
        logout: function () {
          global.ajax({
            url: '/auth/logout',
            type: 'GET',
            data: null,
          },
          function(data, status) {
            alert(data.message);
          },
          function(message, status, data) {
            alert(message);
          });
        },
        login(e) {
          e.preventDefault();
          global.ajax({
            url: '/auth/login',
            type: 'POST',
            data: app.loginForm
          },
          function(data, status) {
            alert(data.message);
            location.href='/'
          },
          function(message, status, data) {
            alert(message);
          });
        },
      }
    })
  </script>

</body>

</html>