<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="/javascripts/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>

<body>

  <div id="app">
    <header>
      <% include ./header %>
    </header>

    <main>
      <div class="campuses">
        <dl>
          <dt v-for="(campus, i) in campuses" :key="i">
            <button type="button" class="btn btn-primary"  @click="clickCampus(campus.campus_id)">{{campus.name}}</button>
            <dl>
              <dt v-for="(building, j) in campus.building_results" :key="j">
                <div v-if="campus_id==building.campus_id">
                  <button v-if="building.is_active==1" type="button" class="btn btn-success" @click="locationHref('/reservation/'+ building.building_id)" >
                    {{building.name}}
                  </button>
                  <button v-else type="button" class="btn btn-default" @click="alertBuildingMsg">
                    {{building.name}}
                  </button>
                </div>
              </dt>
            </dl>
          </dt>
        </dl>
      </div>
    </main>
    
    <footer>
      <% include ./footer %>
    </footer>
  </div>

  <script>
    var global = makeGlobal();
    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          page_name: 'main',
          is_user: <%- is_user %>,
          is_admin: <%- is_admin %>,
          page_name: 'main',
          campuses : <%-JSON.stringify(campuses) %>,
          campus_id: <%- campus_id %>,
        }
      },
      methods : {
        alertBuildingMsg() {
          alert('현재 비 활성화된 건물입니다.');
        },
        clickCampus: function (campus_id) {
          if (this.campus_id == campus_id) {
            this.campus_id = null;
          } else {
            this.campus_id = campus_id
          }
        },
        locationHref: function (link) {
          location.href= link;
        }
      }
    })
  </script>

</body>

</html>