<% include ./sub/header %>
      <div class="table-responsive">     
        <h1>마이페이지</h1>
        <table class="table table-striped"> 
          <thead>
            <tr class="text-bold">
              <td>교실</td>
              <td>카테고리</td>
              <td>상태</td>
              <td>시작시간</td>
              <td>종료시간</td>
              <td>학과(스터디)</td>
              <td>사용인원</td>
              <td>생성일</td>
              <td>상세보기</td>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>101호</td>
                <td>스터디</td>
                <td>
                    <button type="button" class="btn btn-danger">거절</button>
                </td>
                <td>2019-01-01</td>
                <td>2019-01-03</td>
                <td>컴퓨터과학과(폴더)</td>
                <td>10명</td>
                <td>2019-01-01</td>
                <td>
                   <button type="button" class="btn btn-default">상세보기</button>
                </td>
            </tr>
            <tr>
                <td>101호</td>  
                <td>스터디</td>
                <td>
                    <button type="button" class="btn btn-primary">승인</button>
                </td>
                <td>2019-01-01</td>
                <td>2019-01-03</td>
                <td>컴퓨터과학과(폴더)</td>
                <td>10명</td>
                <td>2019-01-01</td>
                <td>
                    <button type="button" class="btn btn-default">상세보기</button>
                 </td>
            </tr>
            <tr>
                <td>101호</td>
                <td>스터디</td>
                <td>
                    <button type="button" class="btn btn-success">신청</button>
                </td>
                <td>2019-01-01</td>
                <td>2019-01-03</td>
                <td>컴퓨터과학과(폴더)</td>
                <td>10명</td>
                <td>2019-01-01</td>
                <td>
                    <button type="button" class="btn btn-default">상세보기</button>
                 </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
    
    <footer>
      <% include ./sub/footer %>
    </footer>
  </div>

  <script>
    var global = makeGlobal();
    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          page_name: 'mypage',
          is_user: <%- is_user %>,
          is_admin: <%- is_admin %>,
        }
      },
      methods : {

      }
    })
  </script>

</body>

</html>