<% include ./sub/header %>
      <div class="panel panel-primary" @click="chagePageStep('R')">
        <div class="panel-heading">
          교실 예약
        </div>
        <div class="panel-body">
          원하는 교실을 예약합니다
        </div>
      </div>

      <div class="panel panel-primary" @click="chagePageStep('DT')">
        <div class="panel-heading">
          시간 예약
        </div>
        <div class="panel-body">
          원하는 시간을 예약합니다
        </div>
      </div>

      <div class="panel panel-info">
        <div class="panel-heading">
          예약 조회
        </div>
        <div class="panel-body">
          예약을 예약합니다
        </div>
      </div>
    </main>
    
    <footer>
      <% include ./sub/footer %>
    </footer>
  </div>
  
  <script>
    var global = makeGlobal();
    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          header_menu_name: global.getHeaderMenuName("<%-pagename %>"),
          is_user: <%- is_user %>,
          is_admin: <%- is_admin %>,
          params : <%-JSON.stringify(params) %>,
        }
      },
      methods: {
        chagePageStep: function(page_step) {
          if (page_step == 'R' || page_step == 'DT') {
            location.href = '/reservation/' + this.params.building_id + '?page_step=' + page_step
          }
        }
      }
    })
  </script>

</body>

</html>