<% include ./sub/header %>
      <template v-if="page_step=='intro'">
        <% include ./rsv_section/reservation_intro %>
      </template>
      <template v-else-if="page_step=='room'">
        <% include ./rsv_section/reservation_room %>
      </template>
      <template v-if="page_step=='time'">
      </template>
    </main>
    
    <footer>
      <% include ./sub/footer %>
    </footer>
  </div>

  <script>
    var global = makeGlobal();
    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          ko: vdp_translation_ko.js,
          page_name: 'reservation',
          is_user: <%- is_user %>,
          is_admin: <%- is_admin %>,
          query : <%-JSON.stringify(query) %>,
          page_step : 'intro',
          page_type : null,
          section : {
            room : {
              menu_step : 1,
              floor:null,
              room_name: null,
              room_number : null,
            },
            time : {
              menu_step : 1,

            },
          },
          rooms: {},
          holiday_results : [],
          formData:{
            room_id:null,
          },
        }
      },
      methods: {
        chageMenuStep: function (menu_step) {
          if (this.page_step == 'room') {
            if (this.section[this.page_step].menu_step > menu_step) {
              this.section[this.page_step].menu_step = menu_step;
            }
          }
        },
        classObjectMenu: function (menu_step) {
          return {
            'btn btn-primary': this.section[this.page_step].menu_step == menu_step,
            'btn btn-default': this.section[this.page_step].menu_step != menu_step,
          }
        },
        chageStep: function(page_step) {
          if (page_step == 'room') {
            this.getRoom();
          } else {

          }
          this.page_step = page_step;
        },
        // ROOM
        changeRoomFloor: function(floor) {
          this.section.room.floor = (this.section.room.floor == floor) ? null : floor;
        },
        chooseRoom: function(room) {
          this.section.room.room_number = room.room_number;
          this.section.room.room_name =  room.name;
          this.formData.room_id = room.room_id;
          this.getHoliday();
        },
        getRoom: function() {
          global.ajax({
            url: '/api/room',
            type: 'GET',
            data: null,
            query: {
              building_id : this.query.building_id,
              sort_by_floor: 1,
            }
          },
          function(data, status) {
            app.rooms = data.results
          },
          function(message, status, data) {
            alert(message);
          })
        },
        getHoliday: function() {
          global.ajax({
            url: '/api/holiday',
            type: 'GET',
            data: null,
            query: {
              building_id : this.query.building_id,
              room_id: this.formData.room_id,
            }
          },
          function(data, status) {
            app.holiday_results = data.results;
            app.section.room.menu_step = 2;
          },
          function(message, status, data) {
            alert(message);
          })
        },
        // TIME
      },
      components: {
        vuejsDatepicker
      },
    })
  </script>

</body>

</html>