<div class="panel panel-primary" @click="chagePageStep('R')">
  <div class="panel-heading">
    교실 예약
  </div>
  <div class="panel-body">
    원하는 교실을 예약합니다
  </div>
</div>

<div class="panel panel-primary" @click="chagePageStep('DT')">
  <div class="panel-heading">
    시간 예약
  </div>
  <div class="panel-body">
    원하는 시간을 예약합니다
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    예약 조회
  </div>
  <div class="panel-body">
    예약을 예약합니다
  </div>
</div>