<div>
  <button type="button" class="btn btn-default">교실</button>
  <button type="button" class="btn">{{info.room_number}} {{info.room_name}}</button>
  <br />
  <button type="button" class="btn btn-default">날짜</button>
  <button type="button" class="btn">{{info.date}}</button>
  <br />
  <button type="button" class="btn btn-default">시간</button>
  <button type="button"
    class="btn">{{(info.start_time && info.end_time) ? info.start_time + '~' + info.end_time : ''}}</button>
</div>