<dl>
  <dt v-for="(time, i) in formData.time_array" :key="i">
      <button type="button" :class="timeBlockClass(time)" @click="clickTimeBlock(time)">
        {{time.start_time_string}}  ~ {{time.end_time_string}}
      </button>
  </dt>
</dl>