<script type="text/javascript" src="https://unpkg.com/vuejs-datepicker"></script>
<script type="text/javascript" src="https://unpkg.com/vuejs-datepicker/dist/locale/translations/ko.js"></script>

<script type="text/x-template" id="datepicker-template">
  <div>
    <vuejs-datepicker
      :value="state.default_date"
      @selectedDisabled="selectedDisabled"
      :highlighted="state.highlighted"
      :disabled-dates="state.disabledDates"
      @selected="selected"
      v-model="selected_date"
      :inline="inline"
      :format="customFormatter"
      :language="ko"
    />
  </div>
</script>

<script>
  Vue.component('custom-datepicker', {
    template: '#datepicker-template',
    props: {
      inline: Boolean,
      default_date: Date,
      building_id: Number,
      room_id: Number,
      onSelected: Function,
    },
    data: function(){ return {
      ko: vdp_translation_ko.js,
      selected_date: null,
      room_id: this.room_id,
      holiday_results: [],
      state: {
        default_date: this.default_date,
        disabledDates: {
          from: new Date(2020, 0, 26),
          dates: [],
        },
        highlighted: {
          days: [6, 0], 
          includeDisabled: true // Highlight disabled dates
        },
      },

    }},
    methods: {
      selected: function(date) {
        this.onSelected(date)
      },
      selectedDisabled: function(object) {
        alert('비활성화 상태입니다')
      },
      customFormatter: function(date) {
        return global.parseDateFromDB(date);
      },
      _chageHolidayResults: function(value) {
        this.holiday_results = value;
      },
      _chageDisbeldDates: function(value) {
        this.state.disabledDates.dates = value;
      },
    },
    created: function() {
      let __this = this;
      global.ajax({
        url: '/api/holiday',
        type: 'GET',
        data: null,
        query: {
          building_id : this.building_id,
          room_id: this.room_id,
        },
      },
      function(data, status) {
        var holiday_results = data.results;
        __this._chageHolidayResults(holiday_results)

        var dates = [];
        for (var i = 0; i < holiday_results.length; i++) {
          dates.push(new Date(holiday_results[i].holiday_date));
        }
        __this._chageDisbeldDates(dates);
      },
      function(message, status, data) {
        alert(message);
      })
    },
    components: {
      vuejsDatepicker
    },
  })
</script>