<script type="text/javascript" src="https://unpkg.com/vuejs-datepicker"></script>
<script type="text/javascript" src="https://unpkg.com/vuejs-datepicker/dist/locale/translations/ko.js"></script>

<script type="text/x-template" id="datepicker-template">
  <div>
    <vuejs-datepicker :language="ko"></vuejs-datepicker>
    <h1>하이fsads!!</h1>
  </div>
</script>

<script>
  Vue.component('custom-datepicker', {
    template: '#datepicker-template',
    props: [],
    data: function () {
      return {
        ko: vdp_translation_ko.js
      }
    },
    methods: {
      customFormatter(date) {
        return '2019-1-1';
      },
    },
    components: {
      vuejsDatepicker
    },
  })
</script>