<script type="text/x-template" id="input-template">
  <form class="form-lnline" v-on:submit="onSubmitForm">
    <label>학과</label>
    <select class="form-control" v-model="group.department_id">
      <option v-for="(department, i) in department_results" v-bind:value="department.department_id"
        :selected="group.department_id == department.department_id" :key="i" :disabled="mod != 'POST'">
        {{ department.name }}
      </option>
    </select>
    <label>학습관</label>
    <select class="form-control" v-model="group.building_id">
      <option v-for="(building, j) in building_results" v-bind:value="building.building_id" :key="j"
        :disabled="mod != 'POST'">
        {{ building.name }}
      </option>
    </select>
    <div class="form-group" v-if="mod!='POST'">
      <label class="col-sm-2 control-label">대표</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{group.representative_name}}</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">이름</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" v-model="group.name" :disabled="mod == 'GET'">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">설명</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="3" v-model="group.description" :disabled="mod == 'GET'"></textarea>
      </div>
    </div>
    <div class="form-group" v-if="mod!='POST'">
      <label class="col-sm-2 control-label">생성일</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{group.date_created}}</p>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" v-if="mod=='POST'">제출</button>
    <div v-if="mod=='GET'">
      <button type="button" class="btn btn-primary" v-if="group.is_join != 1"
        @click="joinStudyGroup(group.study_group_id, true)"> 가입 </button>
      <button type="button" class="btn btn-danger" v-else @click="joinStudyGroup(group.study_group_id, false)"> 가입취소
      </button>
    </div>
    <div v-if="group.is_mine==1">
      <button type="button" class="btn btn-warning" v-if="mod=='GET'" @click="setMod('PUT', $event)">수정</button>
      <button type="submit" class="btn btn-primary" v-if="mod=='PUT'">제출</button>
    </div>
  </form>
</script>

<script>
  Vue.component('group-input', {
    template: '#input-template',
    props: ['mod', 'group', 'department_results', 'building_results'],
    data: function () {
      return {
        mod: this.mod,
        group: this.group,
      }
    }, 
    methods: {
      joinStudyGroup: function(study_group_id, is_join) {
        global.ajax({
          url: '/api/study_group/join/'+study_group_id,
          type: is_join ? 'POST' : 'DELETE',
          data: null,
        },
        function(data, status) {
          window.location.href = group.study_group_id;
        },
        function(message, status, data) {
          alert(message);
        })
      },
      setMod: function(mod, e) {
        if (e) {
          e.preventDefault();
        }
        this.mod = mod;
      },
      onSubmitForm: function(e) {
        e.preventDefault();
        var __this = this;
        var mod = this.mod;
        let need_location_href = mod == 'POST' ? true : false;
        var url = '/api/study_group' + (mod == 'PUT' ? '/'+ this.group.study_group_id : '');
        global.ajax({
          url: url,
          type: mod,
          data: this.group,
        },
        function (data, status) {
          alert(data.message);
          if (need_location_href) {
            location.href='/group/lookup?page=1'
          } else {
            __this.setMod('GET');
          }
        },
        function (message, status, data) {
          alert(message);
        });
      }
    },
  })
</script>