<script type="text/x-template" id="input-template">
  <form class="form-lnline" v-on:submit="onSubmitForm">
    <label class="col-sm-2 control-label">상태</label>
    <div v-if="mod='GET'" class="col-sm-10">
      <p class="form-control-static">{{ reservation.rsv_status_name }}</p>
    </div>
    <select v-else class="form-control" v-model="reservation.rsv_status">
      <option v-for="(status, i) in rsv_status_results" v-bind:value="status.rsv_status"
        :selected="reservation.rsv_status == status.rsv_status" :key="i">
        {{ status.name }}
      </option>
    </select>

    <label class="col-sm-2 control-label">카테고리</label>
    <div v-if="mod='GET'" class="col-sm-10">
      <p class="form-control-static">{{ reservation.room_rsv_category_name }}</p>
    </div>
    <select v-else class="form-control" v-model="reservation.room_rsv_category_id">
      <option v-for="(room_rsv_category, i) in room_rsv_category_results" v-bind:value="room_rsv_category.room_rsv_category_id" :key="i">
        {{ room_rsv_category.name }}
      </option>
    </select>
    
    <div class="form-group" v-if="mod!='POST'">
      <label class="col-sm-2 control-label">사용시간</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{reservation.start_datetime}} ~ {{reservation.end_datetime}}</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">타임블럭</label>
      <button
      class="btn btn-default"
      v-for="(room_rsv_time, i) in room_rsv_time_results" 
      v-bind:value="room_rsv_time.room_rsv_time_id" 
      :key="i"
      disabled
      >{{room_rsv_time.start_time}} ~ {{room_rsv_time.end_time}}</button>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">교실목록</label>
      <button
      class="btn btn-default"
      v-for="(room, i) in room_to_use_results" 
      v-bind:value="room.room_id" 
      :key="i"
      disabled
      >{{room.room_number}}({{room.name}})</button>
    </div>
    
    <label class="col-sm-2 control-label">학과</label>
    <div v-if="mod='GET'" class="col-sm-10">
      <p class="form-control-static">{{ reservation.department_name }}</p>
    </div>
    <select v-else class="form-control" v-model="reservation.department_id">
      <option v-for="(department, i) in department_results" v-bind:value="department.department_id" :key="i">
        {{ department.name }}
      </option>
    </select>
    
    <label class="col-sm-2 control-label">스터디</label>
    <div v-if="mod='GET'" class="col-sm-10">
      <p class="form-control-static">{{ reservation.study_group_name }}</p>
    </div>
    <select v-else class="form-control" v-model="reservation.study_group_id">
      <option v-for="(study_group, i) in study_group_results" v-bind:value="study_group.study_group_id" :key="i">
        {{ study_group.name }}
      </option>
    </select>

    <label class="col-sm-2 control-label">제목</label>
    <div>
      <input type="text" class="form-control" v-model="reservation.title" :disabled="mod == 'GET'">
    </div>
    <label class="col-sm-2 control-label">대표명</label>
    <div>
      <input type="text" class="form-control" v-model="reservation.representative_name" :disabled="mod == 'GET'">
    </div>
    <label class="col-sm-2 control-label">대표번호</label>
    <div>
      <input type="text" class="form-control" v-model="reservation.representative_phone" :disabled="mod == 'GET'">
    </div>
    
    <label class="col-sm-2 control-label">학생수</label>
    <div>
      <input type="text" class="form-control" v-model="reservation.student_count" :disabled="mod == 'GET'">
    </div>
    <label class="col-sm-2 control-label">비학생수</label>
    <div>
      <input type="text" class="form-control" v-model="reservation.non_student_count" :disabled="mod == 'GET'">
    </div>

    <div class="form-group" v-if="mod!='POST'">
      <label class="col-sm-2 control-label">최근 수정일</label>
      <div>
        <p class="form-control-static">{{reservation.datetime_last_updated}}</p>
      </div>
    </div>
    <div class="form-group" v-if="mod!='POST'">
      <label class="col-sm-2 control-label">생성일</label>
      <div>
        <p class="form-control-static">{{reservation.datetime_created}}</p>
      </div>
    </div>
    <div class="btn-group" role="group">
      <button type="submit" class="btn btn-primary" v-if="mod=='POST'">제출</button>
      <button 
      type="button" 
      class="btn btn-warning" 
      v-if="!is_adminpage && reservation.is_mine == 1 && reservation.rsv_status == global.REQ_RSV_STATUS"
      @click="cancelRsv($event, reservation)">
      취소
      </button>
    </div>
   

    <div v-if="is_adminpage && is_admin==1">
      <button type="button" class="btn btn-warning" v-if="mod=='GET'" @click="setMod('PUT', $event)">수정</button>
    </div>
  </form>
</script>

<script>
  Vue.component('reservation-input', {
    template: '#input-template',
    props: {
      is_adminpage: Boolean,
      mod: String,
      is_admin: Number,
      reservation: Object,
      rsv_status_results: Array,
      room_rsv_category_results: Array,
      room_rsv_time_results: Array,
      room_to_use_results: Array,
    },
    data: function () {
      return {
      }
    }, 
    methods: {
      cancelRsv: function(e, reservation) {
        if (e) {
          e.preventDefault();
        }
        var url = '/api/room_rsv/cancel/' + reservation.room_rsv_id;
        global.ajax({
          url: url,
          type: 'PUT',
        },
        function (data, status) {
          alert(data.message);
        },
        function (message, status, data) {
          alert(message);
        });
      },
      chageRsvStatus: function(e, reservation, rsv_status) {
        if (e) {
          e.preventDefault();
        }
        var url = '/api/room_rsv/status/' + reservation.room_rsv_id;
        global.ajax({
          url: url,
          type: 'PUT',
          data: {
            rsv_status: rsv_status,
          },
        },
        function (data, status) {
          alert(data.message);
        },
        function (message, status, data) {
          alert(message);
        });
      },
      setMod: function(mod, e) {
        if (e) {
          e.preventDefault();
        }
        this.mod = mod;
      },
      onSubmitForm: function(e) {
        e.preventDefault();
        var __this = this;
        var mod = this.mod;
        let need_location_href = mod == 'POST' ? true : false;
        var url = '/api/study_group' + (mod == 'PUT' ? '/'+ this.reservation.study_group_id : '');
        global.ajax({
          url: url,
          type: mod,
          data: this.group,
        },
        function (data, status) {
          alert(data.message);
          if (need_location_href) {
            location.href='/study_group/lookup?page=1'
          } else {
            __this.setMod('GET');
          }
        },
        function (message, status, data) {
          alert(message);
        });
      }
    },
  })
</script>