<script type="text/javascript" src="https://unpkg.com/vuejs-datepicker"></script>
<script type="text/javascript" src="https://unpkg.com/vuejs-datepicker/dist/locale/translations/ko.js"></script>

<script type="text/x-template" id="timepicker-template">
  <div>
    <select class="form-control">
      <option>0시0분</option>
      <option>0시30분</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
</script>

<script>
  Vue.component('custom-timepicker', {
    template: '#timepicker-template',
    props: {
    },
    data: function(){ 
      return {
        duration:30,
      }
    },
    methods: {

    },
    computed: {
      time_list: function() {
        var time_list = [];
        var duration = this.duration;
        return time_list;
      }
    }
  })
</script> 