<script type="text/javascript" src="https://unpkg.com/vuejs-datepicker"></script>
<script type="text/javascript" src="https://unpkg.com/vuejs-datepicker/dist/locale/translations/ko.js"></script>

<script type="text/x-template" id="timepicker-template">
  <div>
    <select class="form-control">
      <option v-for="(time, i) in time_list" v-bind:value="time" :key="i">
        {{ time }}
      </option>
    </select>
  </div>
</script>

<script>
  Vue.component('custom-timepicker', {
    template: '#timepicker-template',
    props: {
    },
    data: function(){ 
      return {
        duration:30,
      }
    },
    methods: {

    },
    computed: {
      time_list: function() {
        var time_list = ['0:00'];
        var duration = this.duration;
        var hour = 0;
        var minute = 0;
        
        while (hour < 24) {
          minute += duration;
          if (minute >= 60) {
            hour ++;
            minute %= 60;
          }
          time.push(hour + ':' + minute);
        }
        return time_list;
      }
    }
  })
</script> 