// SASS 스타일적용페이지

// ★전체스타일적용!★
.clearfix:after {
  display: block;
  content: '';
  clear: both;
}

.text-left {
  text-align: left;
}

div {
  //border: 1px solid red;
}

body {
  font-size: 1.8vmin !important;
}

thead {
  tr {
    height: 50px;

    th {
      font-size: 2vmin;
      vertical-align: middle !important;
    }
  }
}

.table {
  tbody {
    tr {
      td {
        font-size: 1.8vmin;
        vertical-align: middle !important;
      }
    }
  }
}

//----------------------------------------------------

@media screen and (max-width:768px) {}

//----------------------------------------------------


.main {
  main {


    h1 {
      font-size: 4vmin;
      text-align: center;
      padding: 1.2%;
      font-weight: 600;
    }

    .campuses {
      width: 100%;

      dl {
        text-align: center;

        dt {
          div {
            width: 50% !important;

            .btn.btn-primary {
              line-height: 1.5;
              font-size: 3vmin;
            }


            button {
              width: 100% !important;
            }

            dl {
              dt {
                div {
                  width: 100% !important;

                  button {
                    font-size: 2vmin;
                    padding: 3%;
                    margin: 0.5% 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.reservation_intro {
  main {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    display: block;
    content: '';
    clear: both;

    h1 {
      font-size: 4vmin;
      text-align: center;
      padding: 2%;
      font-weight: 600;
      border-bottom: 1px solid #ddd;
      margin-bottom: 2%;
    }

    .mom_div {
      width: 100%;
      float: right;
      position: relative;
      left: -50%;

      .margin_center {
        margin: 0 5%;
      }

      .panel {
        float: left;
        position: relative;
        left: 50%;
        width: 30%;
        cursor: pointer;
      }

      .panel-heading {
        padding: 5%;
        font-size: 3vmin;
        font-weight: bold;
      }

      .panel-body {
        padding: 10%;

        span {
          color: #ff9000;
          font-size: 2vmin;
          font-weight: bold;
        }
      }

    }
  }

  //main끝
}

//reservation_intro끝

.login {
  main {
    .mom_div {
      h1 {
        text-align: center;
        padding: 1% 0;
      }

      .Contents {
        margin: 0 auto;
        text-align: center;

        .button_width {
          width: 30%;
          padding: 1.2% 0;
          margin-bottom: 1.5%;

        }

        input {
          border: 1px solid #ddd;
        }

        button {
          background-color: #337ab7;
          color: #fff;
          border-style: none;
        }
      }
    }
  }

}

//login 끝
@each $lookup_page in 
study_group,
reservation,
admin_reservation,
admin_user,
admin_room,
{
  .#{$lookup_page}_lookup {
    main {
      margin:0 auto;
      .btn {
        font-size: 1.8vmin !important;
      }

      select {
        font-size: 1.8vmin !important;
      }

      nav {
        text-align: center;

      }

      .lookup_button {
        float: right;
      }

      .lookup_select {
        text-align: center;
        margin-bottom: 1%;

        .pack_div {
          margin:0 auto;
          width:80%;
          padding:2% 0;
          margin-left:7%;

          .select_div {
            float: left;
            width:50%;
            .div_l{
              float:left;
              width:40%;
            }
            .div_r{
              float:right;
              width:60%;
              .form-control{
                width:100% !important;
              }
            }
          }
        }

        label {
          margin-bottom: 0 !important;
          margin: 2% 1% !important;
          font-size: 3vmin;
        }

        .form-control {
          display: inline-block !important;
          width: 30% !important;

          option {}
        }
      }

      .table {
        text-align: center;

        thead {
          tr {
            background: #337ab7;

            th {
              text-align: center;
              color: #fff;
            }
          }
        }
      }
    }
  }
}


.reservation_intro {
  main {
    margin: 0 auto;
    width: 80%;
  }
}

.vdp-datepicker__calendar .cell {
  color: black !important;
  font-weight: bold !important;

  &.day {}

  &.today {
    border: 1px solid blue !important;
  }

  &.sun {
    background-color: transparent !important;
    color: red !important;
  }

  &.sat {
    background-color: transparent !important;
    color: blue !important;
  }

  &.disabled {
    color: #b5bac4 !important;

    &.highlighted {
      background-color: transparent;
      color: red !important;
      border: 1px solid #E4E5E5;
    }
  }
}

.reservation {
  button {
    font-size: 2vmin !important;
  }

  .rsv_menu {
    margin: 0 auto;
    width: 80%;
    text-align: center;

    .btn-group {
      width: 20%;

      button {
        width: 98%;
        padding: 5% 0;
      }
    }
  }

  .rsv_body {
    margin: 2% auto;
    width: 80%;
    text-align: center;

    .left_info {
      float: left;
      width: 50%;

      div {
        margin-bottom: 1%;

        .btn {
          width: 30%;
          padding: 2% 10%;
        }

        .btn_right {
          width: 40%;
        }
      }
    }

    .right_info {
      float: right;
      width: 50%;

      .step_room {
        dl {
          dt {
            button {
              width: 100%;
              padding: 2% 0;
            }

          }
        }

        .btn-group-vertical {
          margin: 0 auto;
          width: 80%;

          button {
            padding: 3% 0;
          }

        }
      }
      
      .step_date {
        .vdp-datepicker {
          width: 80%;
          .vdp-datepicker__calendar {
            width: 100%;
          }
        }
        text-align: center;
      }

      .step_time {
        dl {
          dt {
            width: 100%;
            margin-bottom: 1%;

            button {
              width: 50%;
            }
          }
        }
      }

      .step_detail {
        .form-inline {
          .select_div {
            width: 100%;

            input {
              width: 100%;
            }
          }
        }

        .pack_div {
          width: 100%;
          padding-bottom: 1%;
          border-bottom: 1px solid #ccc;
          margin-bottom: 2%;

          .select_div {
            float: left;
            width: 30%;
            display: inline-block;
            vertical-align: center;

            label {
              font-size: 2vmin;
              font-weight: bold;
            }
          }

          .select_div {
            display: inline-block;
            float: right;
            width: 70%;

            textarea {
              width: 100% !important;
              ;
            }

            .text-left {
              width: 100%;

              span {
                display: inline-block;
                color: #333333;
                width: 20%;
              }

              input {
                width: 78%;
              }
            }
          }
        }
      }
    }
  }
}


.admin_menu {
  float: left;
  width:15%;
  height:100%;
  padding-top:1%;
  padding-bottom:500px;
  ul{
    height:auto;

    li{

    }
  }
}

.admin_right {
  float: right;
  width: 85%;
}


//마이페이지

.mypage_dashboard{
  .sidebar{
    padding:50px 0 500px 0;
  }
  .table {
    width:80% !important;
  }
}
.mypage_myaccount{

  .sidebar, .mp_dashboard, .mp_myaccount{
    float: left;
  
  }
  .sidebar{
    padding:50px 0 500px 0;
  
  }
}


.admin_schedule {
  .custom_datepicker {
    float: left;
  }
}

/********** 상단nav틀어지는부분 **********/

@media (max-width: 768px) {
  .admin_menu {
    float: left;
    width:15%;
    height:100%;
    padding-top:1%;
    padding-bottom:500px;
  }



  .navbar-nav {
    float: left !important;
  }

  .navbar-nav>li {
    float: left !important;
  }

  .collapse {
    display: block !important;
    visibility: initial !important;
  }

  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
}

@media (min-width:300px) {
  .navbar-nav {
    float: left !important;
  }

  .navbar-nav>li {
    float: left !important;
  }

  .collapse {
    display: block !important;
    visibility: initial !important;
  }

  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
}




.custom_datepicker {
  float:left;
  width:85%;
}