/*

메인 페이지 내, 버튼 배경 색상 변경 예제

.main {
  button {
    background-color: black
  }
}

*/

// 캘린터
.vdp-datepicker__calendar .cell {
  color: black !important;
  font-weight: bold  !important;
  &.today {
    border: 1px solid black;
  }
  &.sun {
    background-color: transparent !important;
    color: red !important;
  }
  &.sat {
    background-color: transparent !important;
    color: blue !important;
  }
  &.disabled {
    color: #b5bac4 !important;
  }
}