<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="/javascripts/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>

<body>

  <div id="app">
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Classroom</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li :class="{active: header_menu_name=='main'}"><a href="/">Home</a></li>
              <li :class="{active: header_menu_name=='group'}"><a href="/group/lookup?page=1">Group</a></li>
            </ul>
            <ul v-if="is_user==false" class="nav navbar-nav navbar-right">
              <li :class="{active: header_menu_name=='login'}"><a href="/login">로그인</a></li>
              <li :class="{active: header_menu_name=='join'}"><a href="/join">가입하기</a></li>
            </ul>
            <ul v-if="is_user==true" class="nav navbar-nav navbar-right">
              <li v-if="is_admin==true" :class="{active: header_menu_name=='admin'}"><a href="/admin">관리자</a>
              </li>
              <li :class="{active: header_menu_name=='mypage'}"><a href="/mypage">마이페이지</a></li>
              <li><a href="/auth/logout">로그아웃</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div id="MemberList">
        <div style="border-right: 1px solid black;">
          <div class="col-sm-3 col-md-2 sidebar" style="border-right: 1px solid black;">
            <ul class="nav nav-sidebar">
              <li><a href="#">회원</a></li>
              <li><a href="#">스케쥴</a></li>
              <li><a href="#">교실</a></li>
              <li><a href="#">교실예약</a></li>
            </ul>
          </div>
        </div>
        <!-- =================여기까지는 관리자 메뉴  -->
        <h1>관리자_회원목록</h1>
        <div>
          <div>
            <button type="button" class="btn btn-default">회원/관리자</button>
            <select class="form-control">
              <option>회원</option>
              <option>관리자</option>
            </select>
          </div>
          <div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <td>구분</td>
                  <td>이름</td>
                  <td>학번</td>
                  <td>전화번호</td>
                  <td>상세보기</td>
                  <td>권한부여</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>학생</td>
                  <td>조아라</td>
                  <td>201900-000000</td>
                  <td>010-1234-1234</td>
                  <td><button type="button" class="btn btn-default">상세보기</button></td>
                  <td><button type="button" class="btn btn-primary">관리자<br>권한부여</button></td>
                </tr>
                <tr>
                  <td>학생</td>
                  <td>조아라</td>
                  <td>201900-000000</td>
                  <td>010-1234-1234</td>
                  <td><button type="button" class="btn btn-default">상세보기</button></td>
                  <td><button type="button" class="btn btn-primary">관리자<br>권한부여</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <nav>
              <ul class="pagination">
                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li class="disabled"><a href="#">2 <span class="sr-only">(current)</span></a></li>
                <li class="disabled"><a href="#">3 <span class="sr-only">(current)</span></a></li>
                <li class="disabled"><a href="#">4 <span class="sr-only">(current)</span></a></li>
                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </main>

  </div>

  <script>
    var global = makeGlobal();
    var app = new Vue({
      el: '#app',
    })
  </script>

</body>

</html>