<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="/javascripts/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>

<style>
  li {
    list-style: none;
    display: inline;
  }
</style>

<body>

  <div id="app">
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Classroom</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li :class="{active: header_menu_name=='main'}"><a href="/">Home</a></li>
              <li :class="{active: header_menu_name=='group'}"><a href="/group/lookup?page=1">Group</a></li>
            </ul>
            <ul v-if="is_user==false" class="nav navbar-nav navbar-right">
              <li :class="{active: header_menu_name=='login'}"><a href="/login">로그인</a></li>
              <li :class="{active: header_menu_name=='join'}"><a href="/join">가입하기</a></li>
            </ul>
            <ul v-if="is_user==true" class="nav navbar-nav navbar-right">
              <li v-if="is_admin==true" :class="{active: header_menu_name=='admin'}"><a href="/admin">관리자</a>
              </li>
              <li :class="{active: header_menu_name=='mypage'}"><a href="/mypage">마이페이지</a></li>
              <li><a href="/auth/logout">로그아웃</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="col-sm-3 col-md-2 sidebar" style="border-right: 1px solid black;">
        <ul class="nav nav-sidebar">
          <li><a href="#">회원</a></li>
          <li><a href="#">스케쥴</a></li>
          <li><a href="#">교실</a></li>
          <li><a href="#">교실예약</a></li>
        </ul>
      </div>
      <!-- =================여기까지는 관리자 메뉴  -->
      <h1>교실상세페이지</h1>
      <div>
        <div>
          <ul>
            <li style="width:30%">호수</li>
            <li>101호</li>
          </ul>
          <ul>
            <li style="width:30%">층</li>
            <li>1</li>
          </ul>
          <ul>
            <li style="width:30%">교실명</li>
            <li>공용강의실</li>
          </ul>
          <ul>
            <li style="width:30%">좌석수</li>
            <li>10</li>
          </ul>
          <ul>
            <li style="width:30%">예약권한</li>
            <li>회원</li>
          </ul>
          <ul>
            <li style="width:30%">예약취소권한</li>
            <li>관리자</li>
          </ul>
          <ul>
            <li style="width:30%">예약승인</li>
            <li>자동승인</li>
          </ul>
          <ul>
            <li style="width:30%">예약취소승인</li>
            <li>수동승인</li>
          </ul>
          <ul>
            <li style="width:30%">예약가능일자</li>
            <li>1일전</li>
          </ul>
          <ul>
            <li style="width:30%">예약취소가능일자</li>
            <li>3일전</li>
          </ul>
        </div>
        <button type="button" class="btn btn-primary">수정하기</button>
      </div>
    </main>

  </div>

  <script>
    var global = makeGlobal();
    var app = new Vue({
      el: '#app',
    })
  </script>

</body>

</html>