<div>
    <form v-on:submit="detailSubmit">
      <label>학과</label>
      <select class="form-control" v-model="formData.department_id" :disabled="menu_step != 'detail'" @change="changeDepartment">
        <option v-for="(department, i) in department_results" v-bind:value="department.department_id" :selected="formData.department_id == department.department_id" :key="i"
        v-bind:value="department.department_id">
          {{ department.name }}
        </option>
      </select>
      <label>스터디</label>
      <select class="form-control" v-model="formData.study_group_id" :disabled="formData.department_id == null || menu_step != 'detail'">
        <option v-for="(study_group, i) in study_group_results" :key="i" v-bind:value="study_group.study_group_id">
          {{ study_group.name }}
        </option>
      </select>
      <div class="form-inline">
        <label>제목</label>
        <input v-model="formData.title" type="text" class="form-control" placeholder="제목을 입력해주세요" :disabled="menu_step != 'detail'">
      </div>
      <div class="form-inline">
        <label>인원</label>
        학생 <input v-model="formData.student_count" type="number" class="form-control" placeholder="예상 참여 인원을 입력해주세요" :disabled="menu_step != 'detail'">
        비학생 <input v-model="formData.non_student_count" type="number" class="form-control" placeholder="예상 참여 인원을 입력해주세요" :disabled="menu_step != 'detail'">
      </div>
      <div class="form-inline">
        <label>대표</label>
        성명 <input v-model="formData.representative_name" type="text" class="form-control" placeholder="예상 참여 인원을 입력하세요" :disabled="menu_step != 'detail'">
        전화번호 <input v-model="formData.representative_phone" type="text" class="form-control" placeholder="예상 참여 인원을 입력하세요" :disabled="menu_step != 'detail'">
      </div>
      <div class="form-inline">
        <label>사용목적</label>
        <textarea v-model="formData.description" class="form-control" rows="3" :disabled="menu_step != 'detail'"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">{{menu_step == 'last' ? '제출하기' : '다음으로'}}</button>
    </form>
</div>
