<div>
  <button type="button" class="btn btn-default"><span>교실</span></button>
  <button type="button" class="btn btn_right" :class="leftInfoClass(formData.room_id)"><sapn>{{info.room_number}}</sapn></button>
</div>
<div>
  <button type="button" class="btn btn-default"><span>날짜</span></button>
  <button type="button" class="btn btn_right" :class="leftInfoClass(info.date)"><sapn>{{info.date}}</sapn></button>
</div>
<div>
  <button type="button" class="btn btn-default"><span>시간</span></button>
  <button type="button" class="btn btn_right" :class="leftInfoClass(info.start_time)" style="position: relative;"> 
    <div
    style=
    "position: absolute;
    left: 20%;
    top: 30%;">
    <span>
      {{
        (info.start_time && !info.end_time) ? info.start_time.start_time_string + '~' + info.start_time.end_time_string : 
        (info.start_time && info.end_time) ? info.start_time.start_time_string + '~' + info.end_time.end_time_string : ''
      }}
    </span>
    </div>
  </button>
</div>