<div>
  <button type="button left" class="btn btn-default">교실</button>
  <button type="button" class="btn btn_right" :class="leftInfoClass(formData.room_id)">{{info.room_name}} {{(info.room_number ? '(' + info.room_number + ')' : '')}}</button>
</div>
<div>
  <button type="button left" class="btn btn-default">날짜</button>
  <button type="button" class="btn btn_right" :class="leftInfoClass(info.date)">{{info.date}}</button>
</div>
<div>
  <button type="button left" class="btn btn-default">시간</button>
  <button type="button" class="btn btn_right" :class="leftInfoClass(info.start_time)" style="position: relative;"> 
    <div>
      {{
        (info.start_time && !info.end_time) ? info.start_time.start_time_string + '~' + info.start_time.end_time_string : 
        (info.start_time && info.end_time) ? info.start_time.start_time_string + '~' + info.end_time.end_time_string : ''
      }}
    </div>
  </button>
</div>